* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;

}


.index-background {

    
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("image/bg.jpg");
    min-height: 100vh;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    margin-top: 10%;
    border-radius: 60%;
    box-shadow: 0 0 50px #ffffff;
    overflow: hidden;
    position: absolute; 
    right: 10%; 
    top: 35%; 
    transform: translateY(-50%); 
}


.profile img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

.profile:hover img {
    transform: scale(1.05);
}

.profile:hover {
    box-shadow: 0 0 50px rgb(255, 255, 255);
    animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px #787777;
    }
    50% {
        box-shadow: 0 0 50px #ffffff;
    }
    100% {
        box-shadow: 0 0 20px #787777;
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #414141;
    padding: 20px 10%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: inter;  
}

.logo {
    width: 150px;
}

nav {
    display: flex; 
    justify-content: flex-end;
    font-family: inter; 
}

nav a {
    color: rgb(250, 250, 250); 
    padding-right: 20px;
    text-decoration: none; 
    font-size: 18px; 
    margin: 0 15px; 
    font-family: inter; 
    text-transform: uppercase;
    position: relative;
}

nav a::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 85%;
    box-shadow: 0 0 10px rgba(232, 232, 232, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
}

.dropdown {
    position: relative; 
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    height: 250px; 
    z-index: 1; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white; 
    padding: 15px; 
    text-decoration: none;
    display: block; 
}

.dropdown-content a:hover {
    background-color: #777; 
}

.content {
    width: 80%;
    height: 70%;
    left: 150px;
    position: absolute;
    top: 40%;
}

.app-text {
    width: 50%;
    float: left;
    text-align: left;
    
}

.app-text h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5em; 
    margin-left: 40px;
    margin-bottom: 10px;
    font-family: inter;
}

.app-text h2 {
    color: rgb(255, 255, 255);
    font-size: 3em; 
    margin-left: 40px;
    margin-bottom: 10px;
    font-family: inter;
}

.app-text span {
    color: #787777;
    text-shadow: 0 0 5px #b9abab;
    font-family: inter;
}

.app-text p {
    color: rgb(255, 255, 255);
    font-size: 1em; 
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: inter;
}

.buttoninfo {
    display: inline-block;
    font-family: inter;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    margin-left: 40px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease,box-shadow 0.3s ease; 
}

.buttoninfo:hover {
    background-color: #000000;
    color: #ebeaea;
    box-shadow: 0 0 10px rgba(232, 232, 232, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);
    font-family: inter;
}

footer {
    background-color: #414141;
}
.footercontact {
    width: 100%;
    padding: 40px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.SocialIcons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.SocialIcons div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0 50px; 
}

.SocialIcons a {
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 10px; 
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s;
}

.SocialIcons i {
    font-size: 24px; 
    color: #000000;
    transition: color 0.3s;
}
.SocialIcons a:hover {
    transform: scale(1.1);
    background-color: #000000;
    color: rgb(218, 218, 218);
    font-size: 24px;
    box-shadow: 0 0 10px rgba(232, 232, 232, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);  

}

.SocialIcons a:hover i {
    color: white; 
}

.SocialIcons span {
    font-size: 14px;
    color: #ffffff;
    text-align: center; 
    margin-top: 10px;
    font-family: inter; 
}


/*2nd page*/


.page2-background {
    background-image: url(image/bg1.jpg);
    background-size: cover;
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
}

.Page2context1 {
    width: 80%;
    height: 70%;
    left: 45%;
    position: absolute;
    top: 30%;
    transform: translateX(-50%);
}


.img-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    margin-top: 10%;
    border-radius: 60%;
    box-shadow: 0 0 20px #ffffff;
    overflow: hidden;
    position: absolute; 
    left: 10%; 
    top: 35%; 
    transform: translateY(-50%); 
}

.img-intro img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

.img-intro:hover img {
    transform: scale(1.05);
}

.img-intro:hover {
    box-shadow: 0 0 50px #7d7d7e;
    animation: glow 1.5s ease-in-out infinite;
}

.text-container {
    
    width: 50%;
    text-align: left;
    color: #efefef;
    margin-left: 50%;
}

.Page2context1 h1, .text-container h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: inter;    
}

.Page2context1 h2, .text-container h2 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin-bottom: 10px;
    font-family: inter;
}
.Page2context1 span {
    color: #000000;
    text-shadow: 0 0 5px #d6cece;
    font-family: inter;
}

.Page2context1 p, .text-container p {
    color: rgb(255, 255, 255);
    font-size: 1em;
    margin-bottom: 20px;
    font-family: inter;
}

.acadbackground {
    position: relative;
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 8%; 
    background-color: #414141;
    text-align: center;
    gap: 50px;
}

.acadbackground h1 {
    width: 100%;
    color: white;
    font-size: 3em; 
    margin-bottom: 20px;
    font-family: inter;
}

.acadbackground h1 span {
    color: #000000;
    text-shadow: 0 0 5px #b9abab;
    font-family: inter;
}

.acadbackground .box {
    width: 100%; 
    max-width: 308px; 
    position: relative;
    height: auto; 
    background: #000000;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #000000;
    transition: 0.3s ease-in-out;
}

.acadbackground .box .background-text {
    position: relative;
    width: 100%; 
    height: auto; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

.acadbackground .box .background-text img {
    max-width: 100%;
    height: auto; 
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; 
}

.background-text img:hover {
    transform: scale(1.1); 
}

.acadbackground h2, .acadbackground h3, .acadbackground p {
    color: white;  
}

h1, h2, h3 {
    font-size: 1.5em; 
}

p {
    font-size: 0.9em; 
}

.Page2context1 span, .acadbackground h1 span {
    font-size: 1em; 
}


.goal {
    background-color: #010101;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;

}
.goal h1 {
    width: 100%;
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    font-family: inter;
    text-align: center; 
}
.goal h1 span {
    color: #bbbbbb;
    text-shadow: 0 0 5px #ffffff;
    font-family: inter;
}

.goalpic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    margin-top: 10%;
    box-shadow: 0 0 40px #ffffff;
    overflow: hidden;
    position: absolute; 
    right: 10%; 
    top: 33%; 
    transform: translateY(-50%); 
}

.goalpic img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}


.context {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 19%; 
    left: 10%;
    line-height: 2;
}

.goal-text {
    width: 50%;
    text-align: left;
    position: relative; 
    margin-top: 20px; 
    margin-left: 20px; 
    
}

.goal-text p {
    color: rgb(255, 255, 255);
    font-size: 1em; 
    margin-bottom: 20px; 
    font-family: inter; 
}



.hobbies {
    background-color: #414141;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
}

.hobbies h1 {
    width: 100%;
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    font-family: inter;
    text-align: center; 
}

.hobbies h1 span {
    color: #000000;
    text-shadow: 0 0 5px #ffffff;
    font-family: inter;
}

.hobbies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    justify-items: center;
    align-items: center;
}

.hobbies-box {
    background-color: black;
    height: 200px;
    width: 100%;
    max-width: 300px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 20px #ffffff;
}

.hobbies-box:hover {
    background-color: #ffffff;
    transform: scale(1.03);
    border: 1px solid #000000;
    box-shadow: 0 0 20px #000000;
}
.hobbies-box:hover .hobbies-info h2,
.hobbies-box:hover .hobbies-info p {
    color: black;
}

.hobbies-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: white;
}

.hobbies-info p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: white;
}

.hobbies-box .hobbies-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}


.skills {
    background-color: #000000;
    height: 100vh;
}

.skills_section{
    width: 100%;
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white    ;
}

.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
}
.skills_head h2 span{
    color: #bbbbbb;
    text-shadow: 0 0 5px #ffffff;
    font-family: inter;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(83, 83, 83, 0.984);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 60%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
.skill_bar .bar .css{
    width: 40%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 40%;
    }
}
.skill_bar .bar .clanguage{
    width: 50%;
    animation: clanguage 2s;
}
@keyframes clanguage {
    0%{
        width: 0%;
    }100%{
        width: 50%;
    }
}
.skill_bar .bar .cplus{
    width: 40%;
    animation: cplus 2s;
}
@keyframes cplus {
    0%{
        width: 0%;
    }100%{
        width: 40%;
    }
}
.skill_bar .bar .mysql{
    width: 50%;
    animation: mysql 2s;
}
@keyframes mysql {
    0%{
        width: 0%;
    }100%{
        width: 50%;
    }
}
.skill_bar .bar .communication{
    width: 70%;
    animation: communication 2s;
}
@keyframes communication {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .microsoftword{
    width: 80%;
    animation: microsoftword 2s;
}
@keyframes microsoftword {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .excel{
    width: 60%;
    animation: excel 2s;
}
@keyframes excel {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}


.contact-background {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("image/bg.jpg");
}

.contact {
    width: 80%;
    height: auto;
    left: 150px;
    position: absolute;
    top: 15%;
}

.contact-background {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("image/bg.jpg");
}

.contact {
    width: 80%;
    height: auto;
    left: 150px;
    position: absolute;
    top: 15%;
}

.contact h1 {
    width: 100%;
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    font-family: inter;
    text-align: center;
}

.contact h1 span {
    color: #bbbbbb;
    text-shadow: 0 0 5px #ffffff;
    font-family: inter;
}

.contact form {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; 
    margin: 5rem auto;
    width: 100%; 
}

.input-group {
    display: flex;
    flex-direction: column;  
    width: 45%;
    margin-left: 300px;
}

.input-group-2 {
    display: flex;
    flex-direction: column; 
    width: 70%; 
    margin-right: 200px; 
}

input,
textarea {
    padding: 1.5rem;
    font-size: 1.2rem;
    color: white;
    background: black;
    border-radius: 1.5rem;
    border: 2px solid white;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    width: 80%;
    
}

.btn {
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
    width: 80%;
    
}

.btn:hover {
    background-color: gray;
}



#particles-js {
    width: 100%;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
    color: rgb(255, 255, 255);
}

.blog {
    background: #000000;
    padding: 4.5rem 0;
}

.blog-content {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.blog-img {
    position: relative;
}

.blog-img span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exDark);
    color: #ffffff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}

.blog-text {
    margin: 2.2rem 0;
    padding: 0 1rem;
    color: white;
}

.blog-text span {
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}

.blog-text h2 {
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
    color: white;
}

.blog-text p {
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
    color: white;
}

.blog-text a {
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background: var(--dark);
    color: #ffffff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}

.blog-text a:hover {
    background: var(--exDark);
}

.comment {
    background-color: #010101;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
}

.comment h1 {
    width: 100%;
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    font-family: inter;
    text-align: center;
}

.comment h1 span {
    color: #bbbbbb;
    text-shadow: 0 0 5px #ffffff;
    font-family: inter;
}

.comment form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 5rem auto;
    width: 100%;
}

.container-blog {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-blog {
    text-align: center;
}

.content-blog h1 {
    font-size: 95px;
    color: white;
    margin-bottom: 50px;
}

.content-blog a {
    font-size: 23px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.content-blog a:hover {
    background-color: white;
    color: black;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}